@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./img/BG2.jpg");
  background-size: cover;
  color: #ffffff;
}

.container {
  background-color: transparent;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: 300px;
  max-width: 80%;
  border-radius: 10px;
  border: 0px solid #5f5f5f;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #340a77;
}

h1 {
  color: #203a54;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  color: #203a54;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  background-color: #203a54;
  padding: 5px 10px;
  margin: 20px 0;
  border-radius: 10px;
}

.link:hover {
  background: linear-gradient(
    90deg,
    rgba(32, 58, 84, 1) 0%,
    rgba(150, 225, 253, 1) 100%
  );
  transition: background-color 0.5s;
  color: #203a54;
}
